b,h1,h2{
    color: #3f51b5;
}
.questionCardParent{
    margin: 10px 30px;

}
.question{
    padding:5px 20px;
    text-align: left;
}
.options{
    padding: 0 30px;
}
.questionSubmit{
    color: #fff;
    border: none;
    background: #3f51b5;
    padding: 8px 13px;
    border-radius: 25px;
    font-size: 20px;
    text-align: left;
    display: block;
    margin-top: 10px;
    transition: background, 0.5s;
}
.questionSubmit:hover{
    background: #162990;
}
/* Hide the browser's default radio button */
input[type=radio] {
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin-bottom: 5px;
    transform: translateY(3px);
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
.resultcardParent{
    margin:0 20px ;
}
.homebutton{
    background: #fff !important;
    color: #000 !important;
    transition-property: background, color !important;
    transition-duration: 0.5s !important;
}
.homebutton:hover{
    color:#fff !important;
    background: #162990 !important;
}
.MuiCircularProgress-root,
.circularProgress{
    padding: 100px 0px;
    width: 65px !important;
    height: 65px !important;
}